{% extends "base.html" %}


{% block title %}

{% endblock %}

{% block head %}
     <script src="{% static "js/user.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
            <div class="row">
              <div class="col-sm-4 col-md-offset-4">
                <div class="panel panel-default">
              <div class="panel-heading">{{ title }}</div>
              <div class="panel-body">
                  <form action="" method="post">
                      {% csrf_token %}
                      {%for form in forms %}
                        {% if not form.is_hidden %}
                            <label for="{{form.id_for_label}}">{{form.label}}</label>
                        {%endif%}
                        <p>{{ form }}</p>
                      {%endfor%}
                       <div id="tip" class="fix">  {{ forms.errors.as_text }}</div>
                      <input type="submit" class="btn-primary" value="{{ title }}">
                      <button type="button" class="btn-primary pull-right {{ nature }}" id="send_code">{{ send }}</button>
                  </form>
              </div>
            </div>
              </div>
              </div>
            </div>
        </div>
{% endblock %}