{% extends "base.html" %}

{% block title %}
    个人主页
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-default" style="height: 500px;">
              <div class="panel-heading">个人信息</div>
              <div class="panel-body" style="margin-left: 50px;padding: 10px">
                <div>
                        <p>账号：{{ user.username }}</p>
                        <p> 姓名：{{ user.nickname}}<a href="{% url 'user:change_nickname' %}?from={{ request.get_full_path }}">修改昵称</a></p>
                        <p>邮件：{{ user.email }}<a href="{% url 'user:change_email' %}">绑定邮箱</a></p>
                        <p><a href="{% url "user:changePassword" %}">修改密码</a></p>
                        <p>上次登陆：{{ user.last_login }}</p>
                        <p>账号创建时间：{{ user.join_time }}</p>
                    </div>
              </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}