{% extends "base.html" %}

{% block title %}
    搜索页面
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/course_video.min.css" %}">
{% endblock %}

{% block content %}
     <div class="wrapper">
            <ul class="course-list">
                {% for video in page.object_list  %}
                    {% with video.object as foo %}
                <li>
                    <a href="{% url "video:video_detail" foo.id %}">
                        <div class="thumbnail-group">
                            <img src="{{ foo.cover.url }}" alt="" class="thumbnial">
                        </div>
                        <div class="course-info">
                            <p class="title">{{ foo.title }}</p>
                            <p class="author">{{ foo.teacher }}</p>
                            <p class="price-group">
                                {% if foo.price %}
                                <span class="pay">{{ foo.price }}</span>
                                {% else %}
                                    <span>免费</span>
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
                    {% endwith %}
                    {% empty %}
                        <h3 style="text-align: center">搜索不到内容</h3>
                {% endfor %}
                <li></li>
                <li></li>
            </ul>
        </div>
{% endblock %}