{% extends "course_introduce.html" %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/course_introduce.min.css" %}">
    <link rel="stylesheet" href="{% static "css/tech_condition.min.css" %}">
{% endblock %}

{% block side-title %}
    教学条件
{% endblock %}

{% block title %}
    教学条件
{% endblock %}

{% block small-title %}
    教学条件
{% endblock %}

{% block inner-content %}
    <div class="sum">
        <div class="jc">
            <span>教材:</span>
            <p>张辉,曹丽娜,现代通信原理与技术,西安电子科技大学出版社, 2013.2.</p>
        </div>
        <div class="ckzl">
            <span>教学参考资料</span>
            <p>樊昌信,曹丽娜,通信原理,国防工业出版社, 2015.1.</p>

            <p>Simon Haykin,通信系统,电子工业出版社, 2012.5.</p>

            <p>J.G. Proakis, Digital Communications（第五版）,电子工业出版社, 2009.5.1.</p>

            <p>B.P. Lathi and Z. Ding, Modern Digital and Analog Communication System,电子工业出版社, 2012.1</p>.
            <p>M．Fitz, Fundamentals of Communications System, McGraw-Hill Education, 2007.7.</p>
            <p>R.E. Ziemer and W.H. Tranter, Principles of Communications: Systems, Modulation, and Noise, Wiley, 2014.3.</p>
            <p>R.E. Ziemer and R.W. Peterson, Introduction to Digital Communication Prentice Hall, 2000.8.</p>
            <p>A. Goldsmith, Wireless Communications, Cambridge University Press, 2005.8.
</p>

</p>
        </div>
        <div class="fzyj">
            <div class="title" >
            <span>教学辅助硬件</span></div>
            <div class="iamge"><img width="350" height="270" src="http://fdjpkc.fudan.edu.cn/_upload/article/images/55/62/10d02487440196485ed52af7690a/ea543398-9b70-4192-9996-6e1ca40478d4.png" alt=""></div>
            <div>
                <span>
基于ADI的ADALM-PlutoSDR无线通信仿真实验平台,可完成通信工程和电子信息工程专业本科生通信原理、数字通信、无线通信、信号检测与估计等主干课程的课程实验,同时还可供学有余力的学生的创新型、研究型实验以及学生课外科技活动提供支撑。</span>
            </div>
        </div>
    </div>


{% endblock %}