.course-main{
  width: 1200px;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  .course-left{
    width: 315px;
    height: 800px;
    border-right: solid 2px #e5e4e4;
    float: left;
    .course-title{
      width: 280px;
      height: 50px;
      border-bottom: solid 3px #043269;
      span{
        font-weight: bold;
        font-size: 18px;
        margin-left: 5px;
        line-height: 50px;
      }
    }
  }
  .course-right{
    float: right;
    width: 880px;
    .course-title{
      width: 830px;
      border-bottom:solid 1px #e5e4e4 ;
      margin: auto;
      overflow: hidden;
      div{
        float:right;
        span{
          margin: 5px;
        }
      }
    }
    .course-image{
        padding: 30px;
      margin-left: 90px;
    }
    .course-introduce{
      width: 800px;
      margin: auto;
      p{text-indent: 2em;
        padding: 2px;
      }
    }
  }

}

