.video-main{
  width: 1110px;
  height: 800px;
  margin: auto;
  .video-title{
    width: 100%;
    height: 100px;
    .title{
      height: 50px;
      line-height: 50px;
      font-weight: bold;
      font-size: 18px;
    }
    .share{
      width: 100%;
      height: 50px;
      overflow: hidden;
      line-height: 50px;
      .share1{
          float: left;
      }
      .share2{
        float: right;
        color: red;
      }
    }
  }

}
  .courseware{
    width: 1110px;
    margin: auto;
    margin-top: 30px;
    ol{
      margin-left: 20px;
    }
  }
  .comment{
    width: 1110px;
    //height: 300px;
    margin: auto;
    margin-top: 30px;
    border-left: solid 1px #e5e4e4;
    border-right: solid 1px #e5e4e4;
    .class-comment{
      height: 50px;
      background: #043269;
      line-height: 50px;
      font-weight: bold;
      color: white;
    }
    textarea{
      width: 100%;
    }
  .comment-box{
    width: 100%;
    margin: 50px;
    .comment-matter {
      width: 80%;
      margin: 25px;
      border-bottom: solid 1px #e5e4e4;
      .sub-comment{
        margin-left: 2em;
      }

      p{
      margin: 10px;
      }
    }

    }
  }
  .send-work{
    border:solid 1px #e5e4e4;
    height: 200px;
    width: 500px;
    z-index: 1000;
    background: whitesmoke;
    position: absolute;
    top:1000px;
    left: 40%;
    display: none;
    div{
      width:500px;
      height:50px;
      background: #043269;
      font-weight: bold;
      span{
        line-height: 50px;
        color: white;
        margin-left: 30px;
        font-size: 18px;
      }
    }
    input{
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }